.hospitalList {
  padding: 40px;
  margin-top: 50px;

  table {
    min-width: 100%;
    padding: 40px;
    border: 0px solid #ffffff;
    margin-top: 20px;

    tr {
      border: 1px solid #ffffff;

      th {
        background-color: rgb(89, 237, 197);
        padding: 10px;
        color: rgb(32, 17, 34);
        text-align: center;
        border: 0px solid #c3c3c3;

      }
    }

    tr {
      border: 0px solid #c3c3c3;

      td {
        padding: 20px;
        text-align: center;

        &:nth-child(5),
        &:nth-child(6) {
          &:hover {
            background-color: #3226b9;
            color: white;
          }
        }
      }

      &:hover {
        background-color: rgb(97, 215, 246);
        cursor: pointer;
      }
    }
  }

  .btns {
    float: right;

    .btn {
      padding: 0;
      background-color: #fff;
      margin: 2px;
    }
  }

  .active {
    background-color: rgb(97, 215, 246);
  }
}
