<div class="doctorAdd" ng-controller="AdddoctorController as adctrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <md-button class="md-raised buttoninsertDr" goto-path="/doctors">Back to the list</md-button>

        <div class="row addDr">
          <div class="col-sm-12">
            <div class="col-sm-6" inputDr>

              <label for="doctorName"></label>Doctor Name:
              <input type="text" name="doctorName" ng-model="doctorName"></br>

              <select  ng-model="idSpeciality" ng-options="item.id as item.Name for item in adctrl.specialityDr">
              </select></br>

              <select ng-model="idHospital" ng-options="item2.id as item2.Name for item2 in adctrl.hospitalDr" name="">
              </select></br>
              <select ng-model="idRank" ng-options="item3.id as item3.Name for item3 in adctrl.rankDr" name="">
              </select></br>
              <!-- <label for="doctorSpeciality"></label>Speciality: -->
              <!-- <input type="text" name="doctorSpeciality" ng-model="doctorSpeciality" value="" placeholder="Specialities"></br> -->

              <!-- <label for="doctorOtherSpec"></label>Second Speciality : -->
              <!-- <textarea name="doctorOtherSpec" ng-model="doctorOtherSpec" placeholder="other specialities"></textarea></br> -->

              <!-- <label for="doctorHospital"></label>Hospital Adress: -->
              <!-- <input type="text" name="doctorHospital" value="" ng-model="doctorHospital" placeholder="Hospital"></br> -->

              <label for="doctorPrivate"></label>Private Practice:
              <input type="text" name="doctorPrivate" value="" ng-model="doctorPrivate" placeholder="Private practice"></br>

              <label for="doctorDescription"></label>Doctor's CV
              <textarea ng-model="doctorDescription" name="doctorDescription" placeholder="Add CV or Description"></textarea></br>

              <label for="doctorPicture"></label> Photo:
              <input type="text" name="doctorPicture" value="" ng-model="doctorPicture" placeholder="Photo (introduce URL)">
            </div>

            <div class="col-sm-6 textContDr">


              <p>
                <span>Doctor :</span><em> {{doctorName}}</em></br>
                <!-- <span>Speciality  :</span><em> {{drDescription}}</em> -->
              </p>
            </div>
          </div>
          <md-button class="md-raised md-primary addbtnDr" ng-click="adctrl.addEditDr()">{{adctrl.doctorBtn}}</md-button>
        </div>
      </div>
    </div>
  </div>
</div>
