<div class="hospitalList" ng-controller="FrontHospListController as fhlctrl">
  <div class="container">
    <div class="row">
        <h3>Hospitals</h3>




        <table >
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Description</th>
            <th>Number of doctors</th>
            <th>Number of specialities</th>

          </tr>
          <tr ng-click="fhlctrl.selectedRow($index)" ng-repeat="item in fhlctrl.frontHospitalsObj" ng-class="{active:$index==fhlctrl.rowIndex}" >
            <td>{{item.Picture}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Country+" " +item.Street}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.doctorsNr}}</td>
            <td>{{item.specialitiesNr}}</td>
            <td>{{item.specialitiesNr}}</td>
            <td>{{item.specialitiesNr}}</td>
            <td>{{item.specialitiesNr}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
