<div class="hospitalList" ng-controller="HospitalsListController as hlctrl">
  <div class="container">
    <div class="row">
        <h3>Hospitals</h3>




        <table >
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Description</th>
            <th>Number of doctors</th>
            <th>Number of specialities</th>

          </tr>
          <tr ng-click="hlctrl.selectedRow($index)" ng-repeat="item in hlctrl.hospitalsObj" ng-class="{active:$index==hlctrl.rowIndex}" >
            <td>{{item.Picture}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Adress}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.doctorsNr}}</td>
            <td>{{item.specialitiesNr}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
