<div class="container bigscreen" ng-controller="FrontController as fpctrl">
  <!-- <div class="row">
    <div class="col-lg-12"> -->

  <div class="specfrontP ">
    <div class="transparent">
      <p>Specialities</p>

    </div>
  </div>
  <div class="centerbox">

    <div>
      <div class="drfrontP">
        <div class="transparent">
          <p>Doctors</p>
        </div>
      </div>
    </div>
  </div>

  <div class="hospfontP ">
    <div class="transparent">

      <p>Hospitals</p>
    </div>
  </div>
  <!-- </div>
  </div> -->
</div>
