<div class="specilityList">


  <div class="specialList" ng-controller="SpecilitiesListController as slctrl">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <table>

            <head>
              <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Number of doctors</td>
                <td>Delete/update</td>
              </tr>
            </head>
            <tr ng-repeat="item in slctrl.dummy">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>{{item.level}}</td>
              <td><button class="btn" type="button" name="button">Edit</button>
                <button class="btn" type="button" name="button">Delete</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
