<div class="specialAdd" ng-controller="AddspecialityController as asctrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <div class="add">
          <label for="addSpeciality"></label>Add a speciality:
          <input type="text" name="specialityAdded" ng-model="specialityAdded" id="specialityAdded"></br>
          <label for="addSpecialDescription"></label>Add a description:
          <input type="text" name="addSpecialDescription" ng-model="addSpecialDescription" id="specialityAdded">
          <h3>New speciality :<em> {{specialityAdded}}</em></h3>
          <h3>Speciality description  :<em> {{addSpecialDescription}}</em></h3>

          <button type="button" name="button" ng-click="asctrl.addspec()">Add to the list</button>
          <button type="button" name="button" goto-path="/specialitiesList" >Back to the list</button>

        </div>
      </div>
    </div>
  </div>
</div>
