<div class="specilityList" ng-controller="SpecilitiesListController as slctrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <button type="button" name="button" goto-path="/specialitiesAdd">Insert Speciality</button>
        <div class="btns" ng-show="slctrl.rowId != -1" >
          <button class="btn" type="button" name="button" goto-path="/specialitiesAdd">Edit</button>
          <button class="btn" type="button" name="button" ng-click="slctrl.deleteRow()">Delete</button>
        </div>

        <table >
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Number of doctors</th>
          </tr>
          <tr ng-click="slctrl.selectedRow($index)" ng-repeat="item in slctrl.specialitiesObj" ng-class="{active:$index==slctrl.rowIndex}" >
            <td>{{item.Name}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.Picture}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
