<div class="specilityList" ng-controller="FrontSpecialitiesController as fslctrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Specialities</h3>



        <table >
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Number of doctors</th>
            <th>Number of hospitals</th>
          </tr>
          <tr ng-click="fslctrl.selectedRowSD($index,false)" ng-repeat="item in specialitiesObj" ng-class="{active:$index==fslctrl.rowIndex}" >
            <td>{{item.Name}}</td>
            <td>{{item.Description}}</td>
            <td  goto-path="/drBySpec/{{fslctrl.selectedRowSD($index,true)}}">{{item.doctorsNr}}</td>
            <td  goto-path="/hospBySpec/{{fslctrl.selectedRowSD($index,true)}}">{{item.hospitalNr}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
