<div class="whole">
  
  <div class="container bigscreen" ng-controller="FrontController as fpctrl">
    <div class="specfrontP" goto-path="frontSpecialitiesList">
      <div class="transparent">
        <p>Specialities</p>

      </div>
    </div>
    <div class="centerbox">
      <div>
        <div class="drfrontP" goto-path="frontDoctorsList">
          <div class="transparent">
            <p>Doctors</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hospfontP" goto-path="frontHospitalsList">
      <div class="transparent">
        <p>Hospitals</p>
      </div>
    </div>
  </div>
</div>
