<div class="hospitalList" ng-controller="FrontHospListController as fhlctrl">
  <div class="container">
    <div class="row">
        <h3>Hospitals</h3>

        <table >
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Adress</th>
            <th>Description</th>
            <th>Number of doctors</th>
            <th>Number of specialities</th>

          </tr>
          <tr ng-click="fhlctrl.selectedRowSH($index)" ng-repeat="item in fhlctrl.frontHospitalsObj" ng-class="{active:$index==fhlctrl.rowIndex}" >
            <td>{{item.Picture}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Country+" " +item.County +" "+item.City+" "+item.Street+" "+item.Website}}</td>
            <td>{{item.Description}}</td>
            <td ng-click="">{{item.DoctorsNr}}</td>
            <td ng-click="fhlctrl.getspecialitySH($index)">{{item.SpecialityNr}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>
