<div class="hospitalList" ng-controller="HospBySpecController as hsctrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Hospitals that have the speciality {{SpecName}}</h3>



        <table >
          <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Description</th>
            <th>Adress</th>

          </tr>
          <tr ng-click="hsctrl.selectedRowHS($index)" ng-repeat="item in hospBySpecObj" ng-class="{active:$index==hsctrl.rowIndex}" >
            <td>{{item.Picture}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Description}}</td>
            <td>{{item.Country+" "+item.County+" "+item.City+" "+item.Street+" "+item.Website+" "+item.DoctorsNr}}</td>
        </table>

      </div>
    </div>
  </div>
</div>
